.image{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 50px;
}
.mainImg{
	width: 100%;
	height: auto;
	z-index: 0;
	position: relative;
}
.titleImg{
	position: absolute;
	top: 0px; 
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	color: white;
	background: rgba(0,0,0,.75);
	visibility: hidden;
}
.mainImg:hover .titleImg {
    visibility:visible;
    -o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
 }

.mainImg:hover .titleImg h1{
	padding: 1%;
}

mainImg:hover .titleImg p{
	padding: 1%;
}

.mainImg:hover .imgOld{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	filter: blur(5px);

	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}