body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}
* {
    outline: none;
}
b{
	font-weight:bold;
}
h1{
	font-weight: bold;
	font-size: 4.375em;
}
h2{
	font-weight: bold;
	font-size: 3.125em;
	padding: 20px 0;
}
h3{
	font-weight: bold;
	font-size: 1.875em;
	padding: 1em 0;
}
b{
	font-weight:bold;
}
.title_large{
	font-size:6.250em;
	font-weight:bold;
}
.title_med{
	font-size:1.250em;
	font-weight:bold;
}
.title_small{
	font-size:1.250em;
}
.text_center{
	text-align:center;
}
.text_right{
	text-align:right
}
.hidden{
	display:none;
}
.error{
	font-weight:bold;
	color:red;
}
.regular{
		width:100%;
		height:auto;
	}
	.content{
		width:60%;
		padding:10px;
		margin: 0 auto;
	}

	#content_wrapper{
		width:80%;
		height:auto;
		margin:0 auto;
	}

	#inital_whitespace{
		height:220px;
		width:100%;
	}
#footer{
	position:relative;
	color:color:#403D3F;
	font-size:0.625em;
	text-align: center;
	padding-top:3%;
	margin-bottom:2%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-device-width:800px) {
		.regular{
		width:100%;
		height:auto;
	}
	.content{
		width:90%;
		padding:10px;
		margin: 0 auto;
	}

	#content_wrapper{
		width:95%;
		height:auto;
		margin:0 auto;
	}

	#inital_whitespace{
		height:40px;
		width:100%;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	.regular{
		width:100%;
		height:auto;
	}
	.content{
		width:90%;
		padding:10px;
		margin: 0 auto;
	}

	#content_wrapper{
		width:95%;
		height:auto;
		margin:0 auto;
	}

	#inital_whitespace{
		height:40px;
		width:100%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
	.regular{
		width:100%;
		height:auto;
	}
	.content{
		width:100%;
		padding:10px;
		margin: 0 auto;
	}

	#content_wrapper{
		width:95%;
		height:auto;
		margin:0 auto;
	}

	#inital_whitespace{
		height:40px;
		width:100%;
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
	.regular{
		width:100%;
		height:auto;
	}
	.content{
		width:60%;
		padding:10px;
		margin: 0 auto;
	}

	#content_wrapper{
		width:80%;
		height:auto;
		margin:0 auto;
	}

	#inital_whitespace{
		height:220px;
		width:100%;
	}
}
